interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.opensensemap.org/boxes/5eba5fbad46fb8001b799786
  response:
    body:
      string: "{\"_id\":\"5eba5fbad46fb8001b799786\",\"createdAt\":\"2022-03-30T11:25:43.857Z\",\"updatedAt\":\"2026-08-15T19:09:02.684Z\",\"name\":\"Gro\xDF
        Glienicke\",\"currentLocation\":{\"type\":\"Point\",\"coordinates\":[13.110423,52.472952],\"timestamp\":\"2023-05-23T13:29:38.495Z\"},\"grouptag\":[\"bbumm\"],\"exposure\":\"outdoor\",\"sensors\":[{\"title\":\"PM10\",\"unit\":\"\xB5g/m\xB3\",\"sensorType\":\"SDS
        011\",\"icon\":\"osem-cloud\",\"_id\":\"5eba5fbad46fb8001b79978b\",\"lastMeasurement\":{\"createdAt\":\"2026-08-15T19:09:02.675Z\",\"value\":\"0.00\"}},{\"title\":\"PM2.5\",\"unit\":\"\xB5g/m\xB3\",\"sensorType\":\"SDS
        011\",\"icon\":\"osem-cloud\",\"_id\":\"5eba5fbad46fb8001b79978a\",\"lastMeasurement\":{\"createdAt\":\"2026-08-15T19:09:02.675Z\",\"value\":\"0.00\"}},{\"title\":\"Temperatur\",\"unit\":\"\xB0C\",\"sensorType\":\"BME280\",\"icon\":\"osem-thermometer\",\"_id\":\"5eba5fbad46fb8001b799789\",\"lastMeasurement\":{\"createdAt\":\"2026-08-15T19:09:02.675Z\",\"value\":\"27.09\"}},{\"title\":\"rel.
        Luftfeuchte\",\"unit\":\"%\",\"sensorType\":\"BME280\",\"icon\":\"osem-humidity\",\"_id\":\"5eba5fbad46fb8001b799788\",\"lastMeasurement\":{\"createdAt\":\"2026-08-15T19:09:02.675Z\",\"value\":\"45.36\"}},{\"title\":\"Luftdruck\",\"unit\":\"Pa\",\"sensorType\":\"BME280\",\"icon\":\"osem-barometer\",\"_id\":\"5eba5fbad46fb8001b799787\",\"lastMeasurement\":{\"createdAt\":\"2026-08-15T19:09:02.675Z\",\"value\":\"101001.44\"}}],\"model\":\"luftdaten_sds011_bme280\",\"lastMeasurementAt\":\"2026-08-15T19:09:02.675Z\",\"description\":\"ok-Lab
        Feinstaubsensor https://luftdaten.info/\\nTerasse Stra\xDFenseite\",\"image\":\"5eba5fbad46fb8001b799786_qa7mrg.jpg\",\"loc\":[{\"geometry\":{\"type\":\"Point\",\"coordinates\":[13.110423,52.472952],\"timestamp\":\"2023-05-23T13:29:38.495Z\"},\"type\":\"Feature\"}]}"
    headers:
      Content-Md5:
      - pGk0L+r8l9obsEfZpeOU+g==
      Content-Type:
      - application/json; charset=utf-8
      Response-Time:
      - '10'
    status:
      code: 200
      message: OK
[...]
